a {
	color: #C41F3F;
}

.bankInfo-cibc-tooltip {
	color: #C41F3E;
	font-family: Arial ;
	font-weight: Regular; 
	font-size: 14px;
  }

  span.bankInfo-cibc {

	color: #383B3E ;font-family: Arial; 
	font-size: 12px;
  }
  
 #international-phone-switch{
	margin-top: 0.35em;
}