* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Merchant Copy';
    src: url('assets/MerchantCopy-GOXq.ttf') format('truetype');
}

body {
    font-family: 'Merchant Copy', 'Work Sans', sans-serif;
    font-size: 24px;
    width: 100%;
    padding: 10px;
}

#background-video {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -2;
    min-width: 100%;
    min-height: 100%;

    filter: grayscale(1) blur(2px) ;
}

.receipt {
    margin: 0 auto;
    padding: 50px;
    width: 400px;
    border: 1px solid black;
    background-color: rgb(255, 254, 248);
    z-index: 400;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.4);

}

.info {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.separator {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    height: 1px;
    /* Dotted separator line thanks to https://stackoverflow.com/a/18064496 */
    background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 15px 1px;
    background-repeat: repeat-x;
}

.line-items {
    margin-top: 20px;
    margin-bottom: 20px;
}

.line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}

input.item-price {
    width: 80px;
    text-align: right;
}

.total-subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.discount-list {
    margin-left: 15px;
}

#total-text {
    font-weight: bold;
}