#grid
{
	width:1200px;
	padding:0 0 0 10px;
	float:left;
}
#grid:after
{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
body .row { /* not sure on actual styles here */
	padding: 0px 0 20px;
	height:1%;
}
body .row:after
{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

body .grid
{
	position:relative;
	padding:0 0 0 0;
}
body .grid
{
	float:left;
}
body .grid_skin {
	padding: 0 0 10px;
	width:950px;
}
body .grid_skin:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
body .grid_24
{
	width:950px;
}
body .grid_1
{
	width:25px;
}
body .grid_2
{
	width:75px;
}
body .grid_3
{
	width:125px;
}
body .grid_4
{
	width:175px;
}
body .grid_5
{
	width:225px;
}
body .grid_6
{
	width:275px;
}
body .grid_7
{
	width:325px;
}
body .grid_8
{
	width:300px;
}
body .grid_9
{
	width:430px;
	padding-right: 20px;
}
.grid_9 .col01 {
float: left;
width: 130px;
padding-top: 0px;
text-align: center;
}
.grid_9 .col02 {
float: left;
width: 275px;
padding-right: 20px;
padding-top:5px;
text-align: left;
}
body .grid_10
{
	width:475px;
}
body .grid_11
{
	width:525px;
}
body .grid_12
{
	width:575px;
}
body .grid_13
{
	width:625px;
}
body .grid_14
{
	width:675px;
}
body .grid_15
{
	width:725px;
}
body .grid_16
{
	width:610px;
	padding-right: 25px;
}
body .grid_17
{
	width:825px;
}
body .grid_18
{
	width:875px;
}
body .grid_19
{
	width:925px;
}
body .grid_20
{
	width:975px;
}
body .grid_21
{
	width:1025px;
}
body .grid_22
{
	width:1075px;
}
body .grid_23
{
	width:1125px;
}
body .grid_24
{
	width:950px;
}
body .grid_99
{
	width: 325px;
	padding-top: 5px;
}
body.ursula .grid_21_right{
	width:1025px;
	float:right;
}
.ursula .welcome{
	float:left;
	width:auto;
    font-size: 20px;
}
body .grid.last{
	padding-right:0;
}
.grid_a{
	padding-right: 0px !important;
}
body .grid_8pa
{
	width:350px;
}
body .grid_16pa
{
	width:570px;
	padding-right: 20px;
}
.grid_70a{
	width: 270px !important;
}
.grid_90a{
	width: 400px !important;
	padding-left: 20px !important;
}
.row_bott{
	padding:0px !important;
}
}

.ursula .blockColumn1 .ColumnWider{
	width: 410px;
	text-align: right;
	display:inline;
	float:right;
	display: inline;
	margin-right: 60px;
}
.ursula .memorableAnswer.style1 .steps{
	border-bottom: none;
	padding-bottom: 20px;
}

.ursula .memorableAnswer.style1 .steps li img.within-txt {
	display: inline;
	margin: -2px auto;
	vertical-align: top;
}

.ursula .memorableAnswer.style1 .steps li p {
	width: 90%;
}

.ursula .securityDetails .containerStyle24 .questionGroup-ext02 ul {
	padding-bottom: 0;
}
.ursula .memorableAnswer-question h4 {
	margin-bottom: 8px;
}

.ursula .memorableAnswer.style1 .steps li {
	width: 237px!important;
	padding: 0!important;
	text-align: left;
	background-image: none;
}
.ursula .tooltipTrigger {
    cursor: pointer;
    float:left;
    padding-top: 7px;
}
.ursula .dijitTooltip {
    position: absolute;
    z-index: 2000;
    display: block;
    left: 0;
    top: -10000px;
    overflow: visible;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
    padding: 10px;
}
.dj_ie6 .dijitTooltip,
.dj_ie7 .dijitTooltip,
.dj_ie8 .dijitTooltip {
	border: 1px solid #e5e5e5;
}
.dijitTooltipContainer {
    color: black;
    font-size: small;
}
.ursula .dijitTooltipFocusNode {
    padding: 2px 2px 2px 2px;
}
.ursula .dijitTooltipConnector {
    position: absolute;
}
.ursula .dijitTooltipData {
    display:none;
}
.ursula .tooltip a+span {
    display:none;
}
.ursula .dijitBackgroundIframe {
    border: 0 none;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.ursula .dijitTooltipAbove {
    margin-bottom: 8px;
}
.ursula .dijitTooltipAbove .dijitTooltipConnector {
    bottom: -9px;
    left: 2px;
    height: 9px;
    width: 16px;
    background: url("spouts.png") -9px 0 no-repeat;
}
.ursula .dijitTooltipRight {
    margin-left: 8px;
}
.ursula .dijitTooltipRight .dijitTooltipConnector {
    left: -9px;
    top: -16px;
    height: 16px;
    width: 9px;
    background: url("spouts.png") -25px 0 no-repeat;
}
.ursula .dijitTooltipBelow {
    margin-top: 8px;
}
.ursula .dijitTooltipBelow .dijitTooltipConnector {
    top: -9px;
    left: 2px;
    height: 9px;
    width: 16px;
    background: url("spouts.png") -9px -9px no-repeat;
}
.ursula .dijitTooltipLeft {
    margin-right: 8px;
}
.ursula .dijitTooltipLeft .dijitTooltipConnector {
    right: -9px;
    top: -16px;
    height: 16px;
    width: 9px;
    background: url("spouts.png") 0 0 no-repeat;
}
.ursula .tooltipSpacer {
	display: block;
	float: left;
	width: 19px;
	height: 19px;
}
.ursula .termsContainer{
	background: #f0f0f0;
	padding: 36px;
	overflow:hidden;
	margin-bottom:20px;
	height: 100%;
}

.ursula .termsContainer h3{
	font-size:1.6em; 
	margin-bottom: 14px;
}

.ursula .termsContent{
	background: #ffffff;
	padding: 18px 24px;
	height: 140px; 
	overflow: auto;
}

.ursula .termsContent p.top{
	text-transform:uppercase
}

.ursula .termsContainer form{
	font-size:1.2em;
	float:left;
	margin: 8px 12px;
}

.ursula .termsContainer input{
	margin-right:6px;
}
.ursula .termsprint {
padding-top: 10px;
}
.ursula .termssave {
padding-top: 10px;
}
.ursula .termsagree {
	padding-top:8px;
	font-size:1.2em;
}
.ursula .termsagree .checkboxContainer .dijitCheckBox {
	margin-right: 0;
}
.ursula .termsagree .checkboxContainer label {
	padding-left: 10px;
	font-size: 1.167em;
}
.ursula .termsContainer2 {
	background-color: transparent;
	padding: 20px 0 0;
	margin-bottom: 0;
}
.ursula .termsContainer2 .termsContent {
	border: 2px solid #d9d9d9;
	padding: 20px 28px;
	height: 314px;
}
.ursula .termsContainer2 .termsContent p {
	line-height: 24px;
	padding-bottom: 24px;
}
.ursula .termsContainer2 .iconSave {
	margin-top: 3px;
	font-size: 1.4em;
}

.ursula .termsContainer2 .termssave .iconSave {
  	margin-left: 10px;
    margin-top: 0;
}

.ursula .termsContainer2 .termsAgree {
	font-size: 1.4em;
}

.termsContent:focus{
	border: 2px solid #000000 !important;
} 
.ursula .sideBox {
	width: 100%;
}
.ursula .sideBox h3 {
	font-size: 2.4em;
	line-height: 32px;
}
.ursula .sideBox h4 {
	margin-bottom: 0px;
	line-height: 24px;
}
.ursula .sideBox p {
	font-size: 1.4em;
	padding-bottom: 11px;
}
.ursula .sideBox p.intro {
	font-size: 1.8em;
	color: #000;
	padding-bottom: 7px;
	line-height: 30px;
}
.ursula .sideBox p.intro strong {
	font-size: 1.667em;
	line-height: 40px;
}
.ursula .sideBox .linkList01 {
	border-top: 1px solid #ccc;
	margin-top: 15px;
	padding-top: 28px;
}
.ursula .sideBox .linkList01 li {
	font-size: 1.5em;
	padding-bottom: 9px;
}
/* sideBox-faq styles */
.ursula .sideBox-faq {
  /*border-left: 1px solid #D0D0D0;*/
}
.ursula .sideBox-faq h3,
.ursula .sideBox-faq h4 {
	padding: 0 20px;
}

.ursula .sideBox-faq h4 {
font-size: 1.6em;
padding: 0 8px;
}
.ursula .sideBox-faq .linkList01 {
	margin-top: 8px;
	border-top: 0;
	padding-top: 0;
}
.ursula .sideBox-faq .linkList01 li,
.ursula .sideBox-faq .showHideTrigger,
.ursula .sideBox-faq .showHideContent{
	padding-left: 20px;
	padding-right: 18px;
}
.ursula .sideBox-faq .linkList01 li.showHideOpen {
	background-color: #f0f0f0;
}
.ursula .sideBox-faq .linkList01 li.showHideOpen .showHideTrigger .chevron,
.ursula .faqs .linkList01 li.showHideOpen .showHideTrigger .chevron {
	background-image: url("arr-up-transparent.gif");
}
.ursula .sideBox-faq .linkList01 li.showHide .showHideContent,
.ursula .faqs .linkList01 li.showHide .showHideContent  {
	padding-top: 12px;
}
.ursula .sideBox-faq .linkList01 li.showHide p,
.ursula .faqs .linkList01 li.showHide p {
	font-size: 1em;
}
.ursula .sideBox-faq .linkList01-ext01 li,
.ursula .sideBox-faq .showHideTrigger {
	margin-bottom: 0;
	padding-top: 12px;
	padding-bottom: 2px;
}
.ursula .sideBox-faq .linkList01-ext01 li a,
.ursula .sideBox-faq .showHideTrigger {
	color: #000;
}
.ursula .sideBox-faq .linkList01-ext01 li a:hover,
.ursula .sideBox-faq .linkList01-ext01 li a:focus {
	color: #db0011;
}
.ursula .sideBox-faq .row {
	padding-bottom: 12px;
}
.ursula .sideBox-faq .linkStyle01 {
	margin-left: 20px;
}
/* extension styles */
.ursula .sideBox-ext01 {
	margin-top: 68px;
}

.ursula .sideBox h2 {
	font-size: 2.4em;
	line-height: 32px;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video
{
	font-size:100%;
	line-height:1;
	font-family:Arial, Helvetica, sans-serif;
	border:0;
	margin:0;
	outline:0;
	padding:0;
	text-align:left;
	vertical-align:baseline;
}
a
{
	color:#000;
}
a:active,
a:focus,
button:active,
button:focus,
input[type="text"]:active,
input[type="text"]:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus,
input[type="image"]:active,
input[type="image"]:focus
{
	outline:0;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary
{ 
	display:block;
}
ul, ol, li
{
	list-style:none;
}
blockquote
{
	quotes:none;
}
blockquote:before,
blockquote:after
{
	content:'';
	content:none;
}
table
{
	border-collapse:collapse;
	border-spacing:0;
	table-layout:fixed;
}
input,
select,
button
{
	vertical-align:middle;
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
	padding:0;
	margin:0;
	border:0;
}
strong
{
	font-weight:bold;
}
em
{
	font-style:italic;
}
sub
{
	vertical-align:text-bottom;
}
sup
{
	vertical-align:text-top;
}
div.tertiary_nav{
    background-color: #D0D0D0;
    margin: 0;
    padding: 0;
    width: 160px;
}

div.tertiary_nav ul{
    list-style: none outside none;
    margin: 0;
    padding: 0;
   }
   
div.tertiary_nav ul li{   
    border-bottom: 1px solid white;
    padding-left:20px;
    padding-top:2px;
    padding-bottom:2px;
    line-height:15px;
    font-size: 15px;
    }
div.tertiary_nav ul li a{
	text-decoration: none;
	color: #000000;
}  
div.tertiary_nav ul li:hover{
 	background-position: 5px 4px;
    background-repeat: no-repeat;
    font-weight:600;
    background-color:#EEEEEE;
    background-image:url("editProfileMenuArrow.JPG");
    }
#tabs li a,
#langList li a,
#locale a.dropDownLink span,
#logon a.redBtn span,
#logon a.whiteBtn span,
#logon a.greyBtn span
{
	height:auto!important;
}
#locale .regionTabs li a
{
	padding:16px 12px 12px 36px;
}
#sections .doormat h2
{
	padding:1px 25px 5px;
}
#sections .doormatRight a.newWindowLink
{
	background-image:url("new_window_ie.gif");
}
#sections .doormatRight a.pdfLink
{
	background-image:url("pdf_download_ie.gif");
}
#sections .doormatRight a.externalLink
{
	background-image:url("external_site_ie.gif");
}
#sections .doormatRight a.overlayLaunchLink
{
	background-image:url("overlay_launch_ie.gif");
}
#mainTopNavigation input.qtext
{
	padding:4px 6px;
	width:127px;
}
#tabs li a,
#langList li a,
#locale a.dropDownLink span,
#logon a.redBtn span,
#logon a.whiteBtn span,
#logon a.greyBtn span
{
	height:auto!important;
}
#tabs li
{
	padding:11px 15px 0 0;
}
#tabs li.skipLink
{
	padding:11px 0 0;
}
#tabs li.currentBreadcrumb
{
	padding:11px 15px 9px 0;
}
#tabs li.currentBreadcrumb a
{
	background-image:url("toptab_darkgrey_arrow_ie.gif");
}
#tabs li a
{
	padding:0 0 9px;
}
#tabs li.skipLink a
{
	padding:0 150px 9px 0;
}
#langList li
{
	padding:11px 15px 9px 0;
}
#locale a.dropDownLink,
#locale .dropDownClosing a.dropDownLink,
#locale .dropDownClosed a.dropDownLink,
#locale .dropDownOpening a.dropDownLink,
#locale .dropDownOpen a.dropDownLink
{
	padding:11px 0 9px 10px;
}
#locale a.dropDownLink span,
#locale .dropDownClosing a.dropDownLink span,
#locale .dropDownClosed a.dropDownLink span,
#locale .dropDownOpening a.dropDownLink span,
#locale .dropDownOpen a.dropDownLink span
{
	background-image:url("locale_ie.gif");
}
#locale a.dropDownLink span span.flag
{
	background-position:left top;
}
#logon a.redBtn,
#logon a.whiteBtn,
#logon a.greyBtn
{
	padding:11px 0 9px 20px;
}
#sections li.level1
{
	padding:25px 23px 18px 24px;
}
#sections li.small
{
	padding:25px 17px 18px 18px;
}
#sections li a.mainTopNav
{
	min-height:41px;
}
#sections li.small a.mainTopNav
{
	padding:0;
}
#sections li a.mainTopNav strong
{
	line-height:22px;
}
#sections .doormatRight ul
{
	padding:1px 10px 8px 0;
}
#mainTopNavigation input.qtext
{
	padding:5px 6px 3px;
	width:127px;
}
#tabs li a,
#langList li a,
#locale a.dropDownLink span,
#logon a.redBtn span,
#logon a.whiteBtn span,
#logon a.greyBtn span
{
	height:auto!important;
}
#locale .regionTabs li a
{
	padding:16px 12px 12px 36px;
}
#sections .doormat
{
	border:1px solid #bcbcbc;
	border-top:1px solid #dcdcdc;
}
#sections .doormat h2
{
	padding:1px 25px 5px;
}
#sections .doormatRight a.newWindowLink
{
	background-image:url("new_window_ie.gif");
}
#sections .doormatRight a.pdfLink
{
	background-image:url("pdf_download_ie.gif");
}
#sections .doormatRight a.externalLink
{
	background-image:url("external_site_ie.gif");
}
#sections .doormatRight a.overlayLaunchLink
{
	background-image:url("overlay_launch_ie.gif");
}
#mainTopNavigation input.qtext
{
	padding:4px 6px;
	width:127px;
}
#mainTopNavigation .search input.go:active,
#mainTopNavigation .search input.go:focus,
#mainTopNavigation .search input.ieSubmitFocus
{
	border:0;
	outline:2px solid #000;
}
#tabs li a,
#langList li a,
#locale a.dropDownLink span,
#logon a.redBtn span,
#logon a.whiteBtn span,
#logon a.greyBtn span
{
	height:auto!important;
}
#locale .regionTabs li a
{
	background-position:left top;
}
.nav li
{
	padding:7px 0;
}
.nav li.multiTop
{
	padding:7px 0 1px;
}
.nav li.multiMiddle
{
	padding:4px 0 1px;
}
.nav li.multiBottom
{
	padding:4px 0 7px;
}
.nav li a
{
	background-position:left 4px;
}
#sections .doormat
{
	border:1px solid #bcbcbc;
	border-top:1px solid #dcdcdc;
}
#genericPopupWin #mainTopNavigation #close
{
	padding:30px 0 31px;
}
#genericPopupWin #mainTopNavigation #close a
{
	line-height:23px;
}
#sections li.level1
{
	padding:24px 20px 18px 21px;
}
#sections li.small
{
	padding:24px 13px 18px 14px;
}
#sections .doormat .doormatMiddle
{
	margin:0;
	padding:25px 0;
	border-left:0;
}
#sections .doormat .doormatMiddle .column
{
	border-left:1px solid #d8d8d8;
}
#sections .doormat a.newWindowLink,
#sections .doormat a.pdfLink,
#sections .doormat a.externalLink,
#sections .doormat a.overlayLaunchLink
{
	display:inline-block;
	background-image:url("sml_new_window_ie.gif");
}
#sections .doormatRight a.newWindowLink
{
	background-image:url("new_window.gif");
}
#sections .doormat a.pdfLink
{
	background-image:url("sml_pdf_download_ie.gif");
}
#sections .doormatRight a.pdfLink
{
	background-image:url("pdf_download.gif");
}
#sections .doormat a.externalLink
{
	background-image:url("sml_external_site_ie.gif");
}
#sections .doormatRight a.externalLink
{
	background-image:url("external_site.gif");
}
#sections .doormat a.overlayLaunchLink
{
	background-image:url("sml_overlay_launch_ie.gif");
}
#sections .doormatRight a.overlayLaunchLink
{
	background-image:url("overlay_launch.gif");
}
#mainTopNavigation input.qtext
{
	padding:4px 6px;
	width:127px;
}
#mainTopNavigation .search input.go:active,
#mainTopNavigation .search input.go:focus,
#mainTopNavigation .search input.ieSubmitFocus
{
	border:0;
	outline:2px solid #000;
}
#sections .threeColRight .doormat
{
	right:60px;
 	width:805px; 
}